*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    background-color: #b75800;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'content'
    'footer';
    gap: 5%;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #FFD995;
    background: linear-gradient(90deg,rgba(255, 217, 149, 1) 0%, rgba(183, 88, 0, 1) 50%, rgba(99, 39, 5, 1) 100%);
}

.header-content {
    position: sticky;
    top: 0;
    grid-area: header;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr;
    height: 100%;
    background: #FFD995;
    background: linear-gradient(178deg, rgba(255, 217, 149, 1) 0%, rgba(183, 88, 0, 1) 89%, rgba(173, 82, 1, 1) 93%, rgba(99, 39, 5, 1) 100%);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fffff1;
}

.header-navbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}


.index-content, .fox-content, .error-context {
    grid-area: content;
    display: grid;
    grid-template-columns: auto;
}

.index-content { 
    grid-template-columns: auto;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    'title'
    'prompt';
    gap: 5;
}

.index-title, .index-prompt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding: 2rem;
}

/* Button not mine. Taken from https://getcssscan.com/css-buttons-examples and renamed from button-5 to button-fox*/
.button-fox {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-fox:hover,
.button-fox:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-fox:hover {
  transform: translateY(-1px);
}

.button-fox:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Button not mine. Taken from https://getcssscan.com/css-buttons-examples and renamed from button-6 to button-header*/
.button-header {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 0.625;
  margin: 0;
  min-height: 2rem;
  padding: calc(0.4375rem - 1px) calc(0.75rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-header:hover,
.button-header:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-header:hover {
  transform: translateY(-1px);
}

.button-header:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.fox-content { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fox-content img {
    border: 1px solid transparent;
    border-radius: 1rem;
    max-height: 400px; 
}

.footer-content {
    grid-area: footer;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: auto;
    background: #FFD995;
    background: linear-gradient(178deg,rgba(255, 217, 149, 1) 0%, rgba(183, 88, 0, 1) 13%, rgba(99, 39, 5, 1) 100%);
}

.social-icons{
    display: inline-flex;
    justify-content: center;
}

.social-icon{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.copyright{
    display: inline-flex;
    justify-content: center;
}

a {
    text-decoration: none;
}